<nav id="sidebar">
  <h3>{{ site.title }}</h3>
  <ul class="menu">
    <li><a href="{{ '/' | relative_url }}">Home</a></li>
    <li>
      <a href="javascript:void(0)" class="submenu-toggle">AWS ▾</a>
      <ul class="submenu">
        <li><a href="{{ '/aws/vpc' | relative_url }}">VPC</a></li>
        <li><a href="{{ '/aws/networking' | relative_url }}">Networking</a></li>
        <li><a href="{{ '/aws/rds' | relative_url }}">RDS</a></li>
      </ul>
    </li>
    <li>
      <a href="javascript:void(0)" class="submenu-toggle">Terraform ▾</a>
      <ul class="submenu">
        <li><a href="{{ '/terraform/workspace' | relative_url }}">Workspace</a></li>
        <li><a href="{{ '/terraform/statefile' | relative_url }}">State File</a></li>
      </ul>
    </li>
  </ul>
</nav>
